.pupils {
	background-color:#e0ac80;
	border:2px solid black;
	border-bottom-left-radius:35%;
	border-bottom-right-radius:35%;
	height:25px;
	width:25px;
  animation:blink 0.6s 6 ease-in-out;	
  animation-direction:alternate-reverse;
  animation-delay:3s;
}
.pupils:nth-child(1) {
	position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-250%);
}
.pupils:nth-child(2) {
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-250%);
}
@keyframes blink {
	0%{
		transform:translate(-50%, -250%);
	}
	100%{
		transform:translate(-50%, -50%);
	}
}