   @charset utf-8;
   :root {
    --cor_principal:#e0ac80;
    --tamanho_do_Botao:font-size:15px;;
  }
   #visor {
    border:3px solid black;
    border-radius:20%;
    background-color:white;
    height:35px;
    width:115px;
    margin:5px;
    position:absolute;
    top:10.5%;
    left:6.8%;
    font: 19pt normal Arial;
    text-align: center;
  }
   @keyframes load {
    0% {box-shadow:0 0 black inset;}
    100% {box-shadow:0 -70px red inset;}
  }
   .loader {
      top:8%;
      left:10%;
      transform:
      perspective(50px) rotateX(-5deg);
      width:10px;
      height:60px;
      position:absolute;
      border:2px solid black;
      border-radius:5px;
      animation:
     load 1s linear infinite alternate;
    }
   #loader2 {
      left:55%;
    }
   @keyframes spin {
      to {transform:rotate(360deg);}
    }
   .loader3 {
      margin:auto;
      scale:0.2;
      position:absolute;
      top:-120%;
      left:-100%;
      width:64px;
      height:64px;
      border-radius:50%;
      border-top:8px solid white;
      border-left:8px solid white;
      border-right:8px solid rgb(255,255,255,0);
      animation:spin 0.5s infinite linear;
    }
   /* #ligar {
    border:3px outset #830a0a;
    border-radius:40%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:10px;
    padding:5px;
    position:absolute;
    top:18%;
    left:7%;
  }
  #desligar {
    border:3px outset #830a0a;
    border-radius:40%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:10px;
    padding:4px;
    position:absolute;
    top:18%;
    left:14%;
  }
  */
   #limpar {
    border:3px outset #830a0a;
    border-radius:35%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:4px;
    position:absolute;
    top:18%;
    left:25%;
  }
   #apagar {
    border:3px outset #830a0a;
    border-radius:35%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:4px;
    position:absolute;
    top:18%;
    left:9%;
  }
   #slider {
    transform:rotate(1deg);
    accent-color:rgb(114,0,253);
    width:100px;
    position:absolute;
    left:10%;
    top:30%;
    color:red;
  }
   #slider2 {
    transform:rotate(-1deg);
    accent-color:rgb(114,0,253);
    width:100px;
    position:absolute;
    left:10%;
    top:30%;
  }
   .controles {
    transform:rotate(90deg);
    border: 3px solid black;
    border-radius:20%;
    background-color:#000000;
    font:20%;
    position:absolute;
    top:15%;
    left:-5%;
    height:16%;
    width:212px;
    padding:8px;
  }
   #botao0 {
    transform:rotate(270.5deg);
    border:3px outset #830a0a;
    border-radius:20%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:;
    position:absolute;
    top:40%;
    left:88%; 
  }
   #botao1 {
    transform: rotate(270.5deg);
    border:3px outset #830a0a;
    border-radius:20%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:;
    position:absolute;
    top:70%;
    left:50%; 
  }
   #botao2 {
    transform:rotate(270.5deg);
    border:3px outset #830a0a;
    border-radius:20%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:;
    position:absolute;
    top:40%;
    left:50%; 
  } 
   #botao3 {
    transform:rotate(270.5deg);
    border:3px outset #830a0a;
    border-radius:20%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:;
    position:absolute;
    top:10%;
    left:50%; 
  } 
   #botao4 {
    transform:rotate(270.5deg);
    border:3px outset #830a0a;
    border-radius:20%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:;
    position:absolute;
    top:70%;
    left:63%; 
  } 
   #botao5 {
    transform:rotate(270.5deg);
    border:3px outset #830a0a;
    border-radius:20%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:;
    position:absolute;
    top:40%;
    left:63%; 
  } 
   #botao6 {
    transform:rotate(270.5deg);
    border:3px outset #830a0a;
    border-radius:20%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:;
    position:absolute;
    top:10%;
    left:63%; 
  }
   #botao7 {
    transform:rotate(270.5deg);
    border:3px outset #830a0a;
    border-radius:20%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:;
    position:absolute;
    top:70%;
    left:75%; 
  }
   #botao8 {
    transform:rotate(270.5deg);
    border:3px outset #830a0a;
    border-radius:20%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:;
    position:absolute;
    top:40%;
    left:75%; 
  }  
   #botao9 {
    transform:rotate(270.5deg);
    border:3px outset #830a0a;
    border-radius:20%;
    background-color:rgb(110,5,5);
    color:rgb(255,255,255);
    font-size:var(--tamanho_do_Botao);
    padding:;
    position:absolute;
    top:10%;
    left:75%; 
  }
  
  #limpar:active {
    background-color:#500e0e;
  }
  #apagar:active {
    background-color:#500e0e;
  }
  #botao0:active {
    background-color:#500e0e;
  }
  #botao1:active {
    background-color:#500e0e;
  }
  #botao2:active {
    background-color:#500e0e;
  }
  #botao3:active {
    background-color:#500e0e;
  }
  #botao4:active {
    background-color:#500e0e;
  }
  #botao5:active {
    background-color:#500e0e;
  }
  #botao6:active {
    background-color:#500e0e;
  }
  #botao7:active {
    background-color:#500e0e;
  }
  #botao8:active {
    background-color:#500e0e;
  }
  #botao9:active {
    background-color:#500e0e;
  }
  body {
    max-width:100%;
    max-height:100vh;
  background-color:rgb(61,90, 115);
  }
    .Head {
      background-color:var(--cor_principal);
      position:absolute;
      opacity:100%;
      height:240px;
      width:160px;
      top:2%;
      left:58%;
      border:3px solid black;
      border-top:;
      border-radius:190px ;
    }
    .eye {
      background-color:white;
      position:absolute;
      height:15px;
      width:20px;
      border:2px solid black;
      border-radius:35px;
    }
    @keyframes blink {
    0% {box-shadow:0 0 var(--cor_principal) inset;}
    100% {box-shadow:0 -70px var(--cor_principal) inset;}
  }
    .loader4 {
      top:40%;
      left:70%;
      transform: rotate(180deg)
      perspective(50px) rotateX(-5deg);
      width:20px;
      height:15px;
      position:absolute;
      border:2px solid black;
      border-radius:35px;
      animation:
     /*blink 0.5s linear infinite alternate;
     animation-delay:2s;*/
    }
   @keyframes blink2 {
    0% {box-shadow:0 0 var(--cor_principal) inset;}
    100% {box-shadow:0 -70px var(--cor_principal) inset;}
  }
    #loader5 {
      top:40%;
      left:20%;
      transform: rotate(180deg)
      perspective(50px) rotateX(-5deg);
      width:20px;
      height:15px;
      position:absolute;
      border:2px solid black;
      border-radius:35px;
      /*animation:
     blink2 5s linear infinite alternate;
     animation-delay:2s;*/
    }
    .ear-right {
      border:3px solid black;
      border-top-left-radius:80%;
      border-bottom-left-radius:80%;
      background-color:var(--cor_principal);
      height:70px;
      width:30px;
      position:absolute;
      top:100px;
      left:52%;
    }
    .ear-left {
      border:3px solid black;
      border-top-right-radius:80%;
      border-bottom-right-radius:80%;
      background-color:var(--cor_principal);
      height:70px;
      width:30px;
      position:absolute;
      top:100px;
      right:-10px;
    }
    .mouth {
      background-color:#1d1d1d;
      position:absolute;
      height:15px;
      width:40px;
      border:2px solid black;
      border-radius:45px;
      top:75%;
      left:38%;
    }
    #eyeleft {
      background-color:black;
      top:40%;
      left:20%;
    }
    #ponto {
      border:2px solid black;
      border-radius:20px;
      background-color:black;
      position:absolute;
      opacity:0%;
      height:2px;
      width:2px;
      top:30%;
      left:35.5%;
    }
    #eyeright {
      transition:left 10s;
      background-color:black;
      top:40%;
      left:70%;
    }
    #ponto2 {
      border:2px solid black;
      border-radius:20px;
      background-color:black;
      position:absolute;
      opacity:0%;
      height:2px;
      width:2px;
      top:30%;
      left:38%;
    }
    .Body {
      position:absolute;
      background-color:var(--cor_principal);
      opacity:100%;
      height:312px;  /* 40% */
      width:170px;   /* 40% */
      top:35%;
      left:56%;
      border:3px solid black;
      border-radius:80px;
    }
    .breastplate1 {
      background-color:var(--cor_principal);
      opacity:100%;
      height:35%;
      width:38%;
      position:absolute;
      top:13%;
      left:5%;
      border:3px solid black;
      border-radius:20px;
      border-top-left-radius:10%;
      border-top-right-radius:10%;
      border-bottom-left-radius:1%;
      border-bottom-right-radius:50%;
    }
     .breastplate2 {
      background-color:var(--cor_principal);
      opacity:100%;
      height:35%;
      width:38%;
      position:absolute;
      top:13%;
      left:53.5%;
      border:3px solid black;
      border-radius:20px;
      border-top-right-radius:10%;
      border-bottom-right-radius:1%;
      border-bottom-left-radius:50%;
    }
    .breastplate2 >h1 {
      font-weight:normal;
      color:black;
      position:absolute;
      top:2%;
      left:18%;
    }
    .breastplate-left {
      background-color:rgb(55,55,55);
      opacity:100%;
      height:35%;
      width:38%;
      position:absolute;
      top:13%;
      left:53.5%;
      border:3px solid black;
      border-radius:20px;
      border-top-right-radius:10%;
      border-bottom-right-radius:1%;
      border-bottom-left-radius:50%;
    }
    .breastplate-right {
      position:absolute;
      background-color:rgb(55,55,55);
      opacity:100%;
      height:35%;
      width:38%;
      top:13%;
      left:5%;
      border:3px solid black;
      border-radius:20px;
      border-top-left-radius:10%;
      border-top-right-radius:10%;
      border-bottom-left-radius:1%;
      border-bottom-right-radius:50%;
    }
    #cable {
      transform:rotate(130deg);
      background-color:blue;
      opacity:100%;
      height:5%;
      width:58%;
      position:absolute;
      top:15%;
      left:50%;
      border:2px solid black;
      border-radius:10px;
    }
    #cable2 {
      transform:rotate(70deg);
      background-color:red;
      opacity:100%;
      height:5%;
      width:65%;
      position:absolute;
      top:15%;
      left:-10%;
      border:2px solid black;
      border-radius:10px;
    }
    .heart {
      background-color:gray;
      opacity:100%;
      height:20%;
      width:40%;
      position:absolute;
      top:28%;
      left:20%;
      border:2px solid black;
      border-radius:8px;
    }
    .heart >h2 {
      color:black;
      font:10pt normal Arial;
      font-weight: bold;
      position:absolute;
      top:-10px;
      left:7px;
    }
    .heart >h2:hover {
      color:red;
      
    }
    #cable3 {
      transform:rotate(180deg);
      background-color:yellow;
      opacity:100%;
      height:5%;
      width:25%;
      position:absolute;
      top:32%;
      left:-5%;
      border:2px solid black;
      border-radius:10px;
    }
    #cable4 {
      transform:rotate(128deg);
      background-color:darkgreen;
      opacity:100%;
      height:5%;
      width:40%;
      position:absolute;
      top:53%;
      left:-8.5%;
      border:2px solid black;
      border-radius:10px;
    }
    #cable5 {
      transform:rotate(240deg);
      background-color:darkblue;
      opacity:100%;
      height:5%;
      width:90%;
      position:absolute;
      top:65%;
      left:30%;
      border:2px solid black;
      border-radius:10px;
    }
    /*
    .abdomen {
      position:absolute;
      background-color:var(--cor_principal);
      opacity:100%;
      height:124px;  //16%
      width:170px; //39.8%
      top:59%;
      left:56%;
      border:3px solid black;
      border-radius:100px;
      border-top-left-radius:90%;
      border-top-right-radius:90%;
      border-bottom-left-radius:90%;
      border-bottom-right-radius:90%;
    }
    */
    
    .Upper-Limbs {
     
    }
    .Arm-left {
      transition: transform 2s;
      background-color:var(--cor_principal);
      position:absolute;
      height:50px; 
      width:125px;  
      top:43%;
      left:95%;
      border:3px solid black;
      border-radius:60px;
      transform:rotate(45deg);
    }
    #Forearm-left {
      background-color:var(--cor_principal);
      position:absolute;
      height:50px; 
      width:135px;  
      top:60%;
      left:104%;
      border:3px solid black;
      border-radius:60px;
      transform:rotate(88deg);
    }
    #Forearm-leftI {
      background-color:rgb(55,55,55);
      position:absolute;
      height:50px; 
      width:135px;  
      top:60%;
      left:104%;
      border:3px solid black;
      border-radius:60px;
      transform:rotate(88deg);
    }
    #Hand-left {
      transition: top 2s;
      background-color:var(--cor_principal);
      position:absolute;
      height:50px; 
      width:35px;  
      top:72%;
      left:116%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(88deg);
    }
    #Thumb-left {
      background-color:var(--cor_principal);
      position:absolute;
      height:10px; 
      width:25px;  
      top:78%;
      left:108%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(120deg);
    }
    #Index-finger-left {
      background-color:var(--cor_principal);
      position:absolute;
      height:8px; 
      width:35px;  
      top:80.9%;
      left:110.5%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(102deg);
    }
    #Middle-finger-left {
      background-color:var(--cor_principal);
      position:absolute;
      height:8px; 
      width:40px;  
      top:81.7%;
      left:115%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(88deg);
    }
    #Ring-finger-left {
      background-color:var(--cor_principal);
      position:absolute;
      height:8px; 
      width:38px;  
      top:80.9%;
      left:120.9%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(75deg);
    }
    #Little-finger-left {
      background-color:var(--cor_principal);
      position:absolute;
      height:6px; 
      width:30px;  
      top:78.5%;
      left:125%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(70deg);
    }
    .Arm-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:50px; 
      width:125px;  
      top:43%;
      left:28.6%;
      border:3px solid black;
      border-radius:60px;
      transform:rotate(130deg);
    }
    #Forearm-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:50px; 
      width:135px;  
      top:60%;
      left:19.6%;
      border:3px solid black;
      border-radius:60px;
      transform:rotate(93deg);
    }
    #Forearm-rightI {
      background-color:rgb(55,55,55);
      position:absolute;
      height:50px; 
      width:135px;  
      top:60%;
      left:19.6%;
      border:3px solid black;
      border-radius:60px;
      transform:rotate(93deg);
    }
    #Hand-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:50px; 
      width:35px;  
      top:72%;
      left:31%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(88deg);
    }
    #Thumb-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:10px; 
      width:25px;  
      top:78%;
      left:41.5%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(50deg);
    }
    #Index-finger-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:8px; 
      width:35px;  
      top:80.9%;
      left:35.5%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(82deg);
    }
    #Middle-finger-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:8px; 
      width:40px;  
      top:81.7%;
      left:29.9%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(88deg);
    }
    #Ring-finger-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:8px; 
      width:38px;  
      top:80.9%;
      left:24.9%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(99deg);
    }
    #Little-finger-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:6px; 
      width:30px;  
      top:78.5%;
      left:22.4%;
      border:3px solid black;
      border-radius:18px;
      transform:rotate(110deg);
    }
    .Lower-Members {
     
    }
    .Leg-left {
      background-color:var(--cor_principal);
      position:absolute;
      height:50px; 
      width:205px;  
      top:84.8%;
      left:64.5%;
      border:3px solid black;
      border-radius:60px;
      transform:rotate(90deg);
    }
    .knee-left {
      background-color:var(--cor_principal);
      position:absolute;
      height:45px; 
      width:45px;  
      top:101.9%;
      left:83%;
      border:3px solid black;
      border-radius:22px;
      transform:rotate(90deg); 
    }
    .Shin-leg-left {
      background-color:var(--cor_principal);
      position:absolute;
      height:50px; 
      width:170px;  
      top:116.5%;
      left:68%;
      border:3px solid black;
      border-radius:60px;
      transform:rotate(90deg);
    }
    .Foot-left {
     background-color:var(--cor_principal);
      position:absolute;
      height:85px; 
      width:40px;  
      top:130%;
      left:87%;
      border:3px solid black;
      border-radius:22px;
      transform:rotate(115deg); 
   }
    .Leg-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:50px; 
      width:205px;  
      top:84.8%;
      left:40%;
      border:3px solid black;
      border-radius:60px;
      transform:rotate(90deg);
    }
    .knee-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:45px; 
      width:45px;  
      top:101.9%;
      left:58%;
      border:3px solid black;
      border-radius:22px;
      transform:rotate(90deg);
    }
    .Shin-leg-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:50px; 
      width:170px;  
      top:116.5%;
      left:43.5%;
      border:3px solid black;
      border-radius:60px;
      transform:rotate(90deg);
    }
    .Foot-right {
      background-color:var(--cor_principal);
      position:absolute;
      height:85px; 
      width:40px;  
      top:130%;
      left:53%;
      border:3px solid black;
      border-radius:22px;
      transform:rotate(65deg);
    }
